@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,800;1,600;1,800&family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

#top{
    height: 22cm;
    width: 100%cm;
    background-image: url("Title-Image.png");
    filter: brightness(90%);
    size: 100%;
    background-size: cover;
   
}

#nav{
    display: flex;

    
}

.navdetails{
    display: flex;
    margin-top: 1.7cm;
    margin-left: 1cm;
    gap: 15px;
    color: white;
    font-size: 20px;

    
}

#symbols{
    position: relative;
    left: 34cm;
    bottom: 1cm; 
    display: flex;
    gap: 0.5cm;
    width: 6cm;
}

#netimg{
    height: 1cm;
    width: 3cm;
    margin-top: 1.7cm;
    margin-left: 1cm;
}

.maid-container{
    margin-left: 1.7cm;
    position: relative;
    top: 8cm;
    color: white;
    width: 30%;
}

.maid-text{
    font-size: 55px;
}

.n-container{
    display: flex;
    letter-spacing: 5px;
    gap: 0.5cm;
}
#show{
    margin-top: 10px;
}


#nsymbol{
    height: 1cm;
    width: 0.5cm;
}

#btn-container{
    display: flex;
    gap: 0.5cm;
}

#play{
    width: 2cm;
    height: 1.1cm;
    border-radius: 7px;
    border: none;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bolder;
    padding: 0.5cm;
}

#info{
    background-color: transparent;
    color: white;
    width: 3cm;
    height: 1.1cm;
    background: rgba(255,255,255,0.5);
    border: none;
    border-radius: 7px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bolder;
}

#add{
    color: black;
    background-color: transparent;
    width: 2%;
    position: relative;
    left: 39cm;
    bottom: 3.5cm;
}

.bottom{
    background: linear-gradient(black,rgb(49, 47, 47));
    position: relative;
    bottom: 2cm;
    color: white;
    line-height: 1.5cm;
}
.img-container{
    display: flex;
    gap: 0.6cm;
    margin-left: 1cm;
}
.heading-container{
    margin-left: 1cm;
    justify-content: left;
    display: flex;
    align-items: center;
}
.conclusion{
    padding: 1.5cm;
    margin-left: 6.2cm;
    color: rgb(147, 135, 135);
}

#logo-container{
    display: flex;
    filter: brightness(60%);
    gap: 0.5cm;
}
.conclusion-text{
    display: flex;
    gap: 3.5cm;
}

#kodu{
    border: 1px solid white;
    height: 1.3cm;
    width: 3.2cm;
    border-color:rgb(147, 135, 135) ;
    margin-bottom: 2px;
    justify-content: center;
    display: flex;
    align-items: center;

}
@media screen and (max-width:320px){
    #top{
        height: 700px;
        background-image: url("Title-Image.png");
        width:1300px;
        background-size: cover;
    }

    .navdetails{
        margin-top: 70px;
        gap: 10px;
        font-size: 13px;
        margin-left:0px;
        
    }

    #symbols{
        left: 320px;
        bottom: 15cm; 
        gap: 0.3cm;
        width: 4cm;
    }

    #netimg{
        height: 0.5cm;
        width: 2cm;
        margin-top: 1.8cm;
        margin-left: 0px;
    }
    .maid-container{
        margin-left: 0.9cm;
        top: 8cm;
    }
    .maid-text{
        font-size: 35px;
    }
    .n-container{
        letter-spacing: 2px;
        gap: 0.2cm;
    }
    #show{
        margin-top: 8px;
    }
    #btn-container{
        gap: 0.3cm;
    }
    #add{
        left: 32cm;
        bottom: 3.6cm;
    }
    .bottom{
        width: 1300px;
    }
    .img-container{
        width: 1400px;
        display: grid;
        grid-template-columns: repeat(1,1000px);
        justify-content:center;
    }
    .img-container img{
        height: 400px;
        width:fit-content;
    }
    .conclusion{
        padding: 10px;
        margin-left:10px;
    }
    .conclusion-text{
        gap: 3.5cm;
    }
    
}

